* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
